.header.title {
  display: flex;
  justify-content: center;
  background-color: rgb(255, 242, 0);
  font-family: "Ferro Rosso", sans-serif;
  font-size: 100px;
  margin: 0;
  padding: 20px;

}
.border-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.border-top {
  position: absolute;
  width: 100%;
  height: 3px;
  margin: 0;
  padding: 0;
}

.green {
  background-color: rgb(0, 154, 78);
  top: 0px;
}

.white {
  background-color: white;
  top: 3px;
}

.red {
  background-color: rgb(237, 28, 36);
  top: 6px;
}
.header.content {
  width: 100%;
  margin: 0 auto;
  background-color: lightgray;
}


.spotify.body.content {
  display: flex;
  justify-content: right;
}

#background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#background-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: fade 10s linear infinite;
  opacity: 0;
}

@keyframes fade {
  0%, 100% { opacity: 0; }
  10%, 90% { opacity: 1; }
}

.social-icon {
  width: 36px; /* Ancho del icono */
  height: 36px; /* Alto del icono */
  text-decoration: none;
  border: none;
  outline: none;
  margin-right: 10px;
  background-color: transparent;
  transition: background-color 0.3s;
  border-radius: 55%
}
.social-icon:hover {
  background-color: rgb(237, 28, 36);
}

.estilo-footer {
  background-color: rgb(255, 242, 0);
  padding: 10px
}

.promotional-banner img {
  width: 24px;
  height: 24px;
}

.promotional-banner {
    background-color: #111; /* Color de fondo */
    color: rgb(255, 242, 0); /* Color del texto */
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

#close-banner {
    background-color: #333; /* Color del botón de cierre */
    color: #fff; /* Color del texto del botón de cierre */
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
}

.support-section {
  background-color: rgba(255, 251, 149, 0.7); /* Fondo semitransparente */
  text-align: center; /* Centro de texto */
  padding: 30px; /* Espaciado interior */
}

.social-icons a {
  font-size: 30px; /* Ajusta el tamaño de los iconos según tus preferencias */
  color: black; /* Cambia el color de los iconos a negro */
  margin: 10px; /* Añade espacio entre los iconos */
}

 /* Ajustar el título y darle color */
 .custom-title {
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: "FerroRosso", sans-serif;
  font-size: 30px; /* Ajusta el tamaño del texto */
  letter-spacing: 1px; /* Ajusta el espaciado entre letras */
  line-height: 1.2; /* Ajusta el espaciado entre líneas */            
}

body {
  background-image: url("./images/background/f1.jpg");
  background-size: cover;
  animation: backgroundRotation 15s linear infinite;
  overflow-x: hidden;
}

@keyframes backgroundRotation {
  0% {
      background-image: url("./images/background/f1.jpg");
  }
  33% {
      background-image: url("./images/background/pexels-roman-pohorecki-2664399.jpg");
  }
  66% {
      background-image: url("./images/background/pexels-vincenzo-malagoli-2922140.jpg");
  }
  100% {
      background-image: url("./images/background/pexels-jay-pizzle-3954451.jpg");
  }
  100% {
      background-image: url("./images/background/pexels-casper-somia-13437259.jpg");
  }
  100% {
      background-image: url("./images/background/pexels-david-iglesias-13407327.jpg");
  }
}
/* Establece una altura fija para las tarjetas */
.custom-card {
  height: 100%;
}
/* Establece un alto fijo para las imágenes */
.custom-img {
  height: 200px; /* Ajusta la altura según tus preferencias */
  object-fit: cover; /* Asegura que la imagen se ajuste correctamente */
} custom-img
